# Ignore datasets (they are too heavy!)
.pkl

# Ignore audio folder
sounds/
all_sounds/

# Ignore unnecessary cache
__pycache__/

# Ignore trained models (they are too heavy for git hub)
trained_models/

# Ignore basurero
alabasura/

# Ignore stuff that ends in Identifier
*.Identifier

# Ignore environment
env_ddsp_textures/

# Avoid .sh files
*.sh

# Avoid resynthesis files
*1.wav
*2.wav
*3.wav
*4.wav
*5.wav

# evaluation repo
fad_repo/

# extra ideas
lorea.ipynb