# Ignore datasets (they are too heavy!)
.pkl

# Ignore audio files
*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.aac

# Ignore unnecessary cache
__pycache__/

# Ignore trained models (they are too heavy for git hub)
trained_models/

# Ignore basurero
alabasura/

# Ignore stuff that ends in Identifier
*.Identifier

# Ignore environment
env_ddsp_textures/